{% extends 'base.html' %}

{% block title %}Lista de Alunos - {{ block.super }}{% endblock %}

{% block content %}
<header class="page-header">
    <h2>Gerenciamento de Alunos</h2>
</header>
<div class="card">
    <h3>Alunos Cadastrados</h3>
    <ul class="student-list">
        {% for aluno in alunos %}
            <li>{{ aluno.nome }}
                <br>
                CPF: {{ aluno.cpf }}
                <br>
                mail: {{ aluno.email }}</li>
        {% empty %}
            <li>Nenhum aluno cadastrado.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'cadastrar_aluno' %}" class="btn btn-primary">Cadastrar novo aluno</a>
</div>
{% endblock %}