{% extends 'base.html' %}
{% load static %}

{% block content %}
<header class="page-header">
    <h2>Mensalidades</h2>
</header>

<div class="card">
    <div class="mensalidades-list">
        <div class="item">
            <i class="fa-solid fa-wallet"></i>
            <span>Mensalidade 1 (60R$)</span>
        </div>
        <div class="item">
            <i class="fa-solid fa-wallet"></i>
            <span>Mensalidade 2 (90R$)</span>
        </div>
        <div class="item">
            <i class="fa-solid fa-wallet"></i>
            <span>Mensalidade 3 (120R$)</span>
        </div>
    </div>
</div>
{% endblock %}